body, html, *{ /* Setup */
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.press-start-2p-regular{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: "Press Start 2P", system-ui;
    background-image: linear-gradient(rgba(242, 198, 20, 0.349), rgba(57, 236, 81, 0.3)), url("images/fruit-stand-1326506.png");
}

.container{
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-image: cover;
}

.card{
    height: 20rem;
    width: 30%;
    border: 3px solid black;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 4rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: RGB(152,245,249);
    background-image: cover;
}

.card-img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-header{
    margin-top: 1.2rem; /* Adds space between header and top of card */
    font-size: 30px;
}

.card-description{
    margin-bottom: 1.2rem; /* Adds space between card description and bottom of card */
    font-size: 12px;
}